/.gitignore
/.htaccess
/images/banners/*
/images/headers/*
/images/sampledata/*
/images/joomla*
/images/index.html
/images/powered_by.png

/templates/atomic/*
/templates/beez3/*
/templates/beez_20/*
/templates/beez5/*
/templates/protostar/*
/templates/system/*
/templates/index.html
/tmp/*
